# BasedOnStyle: Google
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
IndentWidth: 4
IndentAccessModifiers: true
AccessModifierOffset: 4
SortIncludes: false
NamespaceIndentation: All
ColumnLimit: 140
Cpp11BracedListStyle: false
IndentCaseLabels: true

# Format options for controlling bin packing of function parameters and arguments
BinPackArguments: false
BinPackParameters: false
